In [1]:
import numpy as np
import pandas as pd

In [2]:
bollywood=pd.read_csv("bollywood.csv")

In [3]:
bollywood.head()

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224

### 1.How many records are present in the dataset? Print the metadata information of the dataset.

In [6]:
bollywood.shape

(149, 10)

In [7]:
bollywood.shape[0]

149

### 2. How many movies got released in each genre? Which genre had highest number of releases? Sort number of releases in each genre in descending order.

In [8]:
bollywood.ReleaseTime.value_counts()

N     99
HS    18
FS    17
LW    15
Name: ReleaseTime, dtype: int64

In [11]:
bollywood.Genre=bollywood.Genre.str.strip()

### 3. How many movies in each genre got released in different release times like long weekend, festive season, etc. (Note: Do a cross tabulation between Genre and ReleaseTime.)

In [12]:
pd.crosstab(bollywood.Genre,bollywood.ReleaseTime)

ReleaseTime  FS  HS  LW   N
Genre
Action        3   3   3  15
Comedy        3   5   5  23
Drama         4   6   1  24
Romance       3   3   4  15
Thriller      4   1   2  22

### 4. Which month of the year, maximum number movie releases are seen? (Note: Extract a new column called month from ReleaseDate column.)

In [18]:
bollywood["Release Date"]=pd.to_datetime(bollywood["Release Date"])
bollywood["month"]=bollywood["Release Date"].dt.month
bollywood.month.value_counts()

1     20
3     19
5     18
7     16
2     16
4     11
11    10
9     10
6     10
10     9
8      8
12     2
Name: month, dtype: int64

### 5. Which month of the year typically sees most releases of high budgeted movies, that is, movies with budget of 25 crore or more?

In [20]:
bollywood[bollywood.Budget>25]["Release Date"].dt.month.value_counts()

2     9
8     7
11    6
7     6
3     6
1     6
6     5
10    4
9     4
4     4
5     3
12    2
Name: Release Date, dtype: int64

### 7. Do the movies have higher ROI if they get released on festive seasons or long weekend? Calculate the average ROI for different release times.