In [1]:
t=("apple","orange","Banana","Kiwi")

In [2]:
t

('apple', 'orange', 'Banana', 'Kiwi')

In [3]:
len(t)

4

In [4]:
type(t)

tuple

In [5]:
t1=(1,2,3,4)

In [6]:
t2=(True,False,False)

In [7]:
t2

(True, False, False)

In [8]:
t[2]

'Banana'

In [9]:
t[-1]

'Kiwi'

In [10]:
t[2:]

('Banana', 'Kiwi')

In [11]:
t[1:3]

('orange', 'Banana')

In [14]:
if "apple" in t:
    print("True")

True

In [15]:
x=list(t)

In [16]:
x

['apple', 'orange', 'Banana', 'Kiwi']

In [17]:
type(x)

list

In [18]:
x[1]="Guava"

In [19]:
x

['apple', 'Guava', 'Banana', 'Kiwi']

In [20]:
t=tuple(x)

In [21]:
t

('apple', 'Guava', 'Banana', 'Kiwi')

In [22]:
type(t)

tuple

In [23]:
x=list(t)
x.append("Jackfruit")
t=tuple(x)

In [24]:
t

('apple', 'Guava', 'Banana', 'Kiwi', 'Jackfruit')

## Removing Items

In [26]:
x=list(t)
x.remove("Jackfruit")
t=tuple(x)

In [27]:
t

('apple', 'Guava', 'Banana', 'Kiwi')

In [30]:
t3=t1+t2

t3

In [31]:
print(t3)

(1, 2, 3, 4, True, False, False)

In [34]:
t4=t1*3

In [35]:
t4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)