In [1]:
import pandas as pd
df=pd.read_csv("groupby.csv")
df

      Name  Age  Salary Gender   Dept
0 NaN  abc   25   25000      M    ece
1 NaN  pqr   38   40000      F    cse
2 NaN  xyz   19   20000      F    ece
3 NaN  lmn   22   35000      M  civil
4 NaN  uvw   29   65000      F    cse

In [2]:
print(df.groupby(["Gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000018FEAF59708>

In [3]:
a=df.groupby(["Gender","Dept"])

In [4]:
a

In [5]:
print(a.groups)

{('F', 'cse'): Int64Index([1, 4], dtype='int64'), ('F', 'ece'): Int64Index([2], dtype='int64'), ('M', ' ece'): Int64Index([0], dtype='int64'), ('M', 'civil'): Int64Index([3], dtype='int64')}

In [6]:
print(df.groupby(["Dept"]).sum())

            Age  Salary
Dept
 ece   0.0   25   25000
civil  0.0   22   35000
cse    0.0   67  105000
ece    0.0   19   20000

In [7]:
print(df.groupby(["Dept"]).max())

          Name  Age  Salary Gender
Dept
 ece  NaN  abc   25   25000      M
civil NaN  lmn   22   35000      M
cse   NaN  uvw   38   65000      F
ece   NaN  xyz   19   20000      F

In [8]:
print(df.groupby(["Gender"]).max())

           Name  Age  Salary   Dept
Gender
F      NaN  xyz   38   65000    ece
M      NaN  lmn   25   35000  civil

In [9]:
print(df.groupby(["Dept"]).groups)

{' ece': Int64Index([0], dtype='int64'), 'civil': Int64Index([3], dtype='int64'), 'cse': Int64Index([1, 4], dtype='int64'), 'ece': Int64Index([2], dtype='int64')}

In [10]:
print(df.groupby(["Gender"]).groups)

{'F': Int64Index([1, 2, 4], dtype='int64'), 'M': Int64Index([0, 3], dtype='int64')}

In [17]:
g=df.groupby(["Gender"])

In [12]:
g.get_group("M")

      Name  Age  Salary Gender   Dept
0 NaN  abc   25   25000      M    ece
3 NaN  lmn   22   35000      M  civil

In [13]:
df["Gender"].value_counts()

F    3
M    2
Name: Gender, dtype: int64

In [14]:
a=df.groupby(["Dept","Gender"])

In [15]:
print(a.groups)

{(' ece', 'M'): Int64Index([0], dtype='int64'), ('civil', 'M'): Int64Index([3], dtype='int64'), ('cse', 'F'): Int64Index([1, 4], dtype='int64'), ('ece', 'F'): Int64Index([2], dtype='int64')}

In [16]:
print(df.groupby(["Age"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000018FEAFB4BC8>